/.project
/.idea
/.run
/node_modules
/aws/*/node_modules
/aws/la_old
.buildpath
.vs
.vscode
.DS_Store
test_logins.txt
*/auth_dev/*

LEAF_Request_Portal/templates/email/custom_override/*
LEAF_Request_Portal/templates_c/email/custom_override/*

LEAF_Request_Portal/db_config-bk.php
LEAF_Nexus/config-bk.php
LEAF_Nexus/globals-bk.php
LEAF_Request_Portal/globals-bk.php

libs/qrcode/cache/*.png

LEAF_Nexus/UPLOADS
LEAF_Request_Portal/UPLOADS

/LEAF_Request_Portal/templates_c/mailer/
