<?php
const PRODUCT_NAME = 'VA Light Electronic Action Framework';
const VERSION_NUMBER = '4.0.0';

define('DATABASE_HOST', getenv('MYSQL_ROOT_HOST', true) ?: getenv('DATABASE_HOST'));
define('DATABASE_DB', getenv('MYSQL_DB', true) ?: getenv('DATABASE_DB'));
define('DATABASE_USER', getenv('MYSQL_USER', true) ?: getenv('DATABASE_USER'));
define('DATABASE_PASS', getenv('MYSQL_PASSWORD', true) ?: getenv('DATABASE_PASS'));

define('LEAF_NEXUS_URL', getenv('APP_URL_NEXUS', true) ?: getenv('LEAF_NEXUS_URL'));
define('HTTP_HOST', getenv('APP_HTTP_HOST', true) ?: getenv('HTTP_HOST'));

define('AUTH_URL', getenv('APP_URL_AUTH', true) ?: getenv('AUTH_URL'));
define('AUTH_TYPE', getenv('APP_AUTH_TYPE', true) ?: getenv('AUTH_TYPE'));

define('CIPHER_KEY', getenv('APP_CIPHER_KEY', true) ?: getenv('CIPHER_KEY'));
